name: Make

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build lua5.3 liblua5.3-dev
      - name: Run make build-ninja-debug
        run: make build-ninja-debug
        working-directory: MMOCoreORB
